<form asp-action="Create">
   <label>Ma Nguoi:</label>
   <input type="number" name="PersonID">
   <br>
   <label >Ho ten :</label>
   <input type="text" name="PersonName">
   <br>
   
   <input type="submit"  value ="Send">


</form>