<form asp-action="Create">
   <label>Ma Nhan viên:</label>
   <input type="number" name="EmployeeID">
   <br>
   <label >Ho ten nhan vien :</label>
   <input type="text" name="EmployeeName">
   <br>
   
   <input type="submit"  value ="Send">


</form>