
<form asp-action="GiaiPhuongTrinh">
    <p>
    <label>He So A : </label>
    <input type ="text" name = "heSoA">
    </p>
    <p><label>He So B : </label>
    <input type ="text" name = "heSoB">
    </p>
    <p><label>He So C : </label>
    <input type ="text" name = "heSoC">
    </p>
    <p> <input class = "btn-btn-success" type ="submit" value ="Tinh gia tri"></p>
   
</form>
<h3>@ViewBag.Message</h3>