<h2>View Student/Index</h2>
<form asp-action="Create">
   <label>Ma sinh vien:</label>
   <input type="number" name="StudentID" value ="1">
   <br>
   <label >Ho ten sinh vien:</label>
   <input type="text" name="StudentName"  value ="Kevin De Bruyne">
   <br>
   <label >Tuoi":</label>
   <input type="number" name ="Age"  value ="18">
   <br>
   <input type="submit"  value ="Send">


</form>
<h3>@ViewBag.TT</h3>