@model Student
@{
    ViewData["Title"] = "Create a Student";
}
<h4>Create a Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label" asp-for="StudentID">Student ID:</label>
                <input asp-for="StudentID" class="form-control" value="@ViewBag.StudentID" readonly />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="StudentName">Student name:</label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="FacultyID">Faculty:</label>
                <select asp-for="FacultyID" class="form-control" asp-items="ViewBag.FacultyID"></select>
                <span asp-validation-for="FacultyID" class="text-danger"></span>
            </div>
            <div class="form-group mt-5" >
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Student List</a>
            </div>
        </form>
    </div>
</div>