<form asp-action="Create">
   <label>Ma sinh vien:</label>
   <input type="number" name="StudentID">
   <br>
   <label >Ho ten sinh vien:</label>
   <input type="text" name="StudentName">
   <br>
   
   <input type="submit"  value ="Send">


</form>