@{
  string studentID = Guid.NewGuid().ToString();
}
<h2 style="margin-bottom: 36px">Add a student</h2>
<form asp-action="Create" method="post">
    <<div class="mb-3">
      <label for="student_ID">ID:</label>
      <input type="text" class="form-control" id="student_ID" placeholder="Enter student ID" name="studentID">
    </div>
    <div class="mb-3">
      <label for="student_Name">Name:</label>
      <input type="text" class="form-control" id="student_Name" placeholder="Enter student name" name="StudentName">
    </div>
    <div class="mb-3">
      <label for="student_Address">Address:</label>
      <input type="text" class="form-control" id="student_Address" placeholder="Enter student address" name="StudentAddress">
    </div>
    <div class="mb-3">
      <label for="student_Phone">Phone:</label>
      <input type="text" class="form-control" id="student_Phone" placeholder="Enter student phone" name="StudentPhone">
    </div>
    <div class="mb-3">
      <label for="student_Email">Email:</label>
      <input type="email" class="form-control" id="student_Email" placeholder="Enter student email" name="StudentEmail">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-success" asp-action="Index">Danh sach sinh vien</a>
    </div>
</form>