
<h2>View Employee/Index</h2>
<form asp-action="Create">
   <label>Ma nhan vien:</label>
   <input type="number" name="EmployeeID" value ="1">
   <br>
   <label >Ho ten nhan vien:</label>
   <input type="text" name="EmployeeName"  value ="Kevin De Bruyne">
   <br>
   <label >Tuoi":</label>
   <input type="number" name ="Age"  value ="18">
   <br>
   <input type="submit"  value ="Send">


</form>
<h3>@ViewBag.TT</h3>