@{
    ViewData["Title"] = "Giải phương trình bậc 2";
}


<h1>Giải phương trình bậc 2</h1>

<form method="post" action="/Demo/Bt2">
    <label for="a">Nhập a</label> 
    <input type="number" id="a" name="a" />
    <label for="b">Nhập b</label> 
    <input type="number" id="b" name="b" />
    <label for="c">Nhập c</label> 
    <input type="number" id="c" name="c" />
    <button type="submit">Tính</button>
</form> 

<p> @ViewBag.Result </p>