<form asp-action="Create">
   <label>Mã khách hàng:</label>
   <input type="number" name="CustomerID">
   <br>
   <label >Ho ten nhan vien :</label>
   <input type="text" name="CustomerName">
   <br>
   
   <input type="submit"  value ="Send">


</form>